name: pr_validation

on:
  push:
    branches:
      - master
      - dev
      - main
  pull_request:
    branches:
      - master
      - dev
      - main

permissions:
  checks: write
  pull-requests: write
  issues: write
  contents: read

jobs:
  test:
    # Permissions this GitHub Action needs for other things in GitHub
    name: Test-${{matrix.os}}
    runs-on: ${{matrix.os}}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5.0.0
        with:
          lfs: true
          fetch-depth: 0

      - name: "Install .NET SDK"
        uses: actions/setup-dotnet@v5.0.0
        with:
          global-json-file: "./global.json"

      - name: "Update release notes"
        shell: pwsh
        run: |
          ./build.ps1

      - name: "dotnet build"
        run: dotnet build -c Release

      - name: "dotnet pack"
        run: dotnet pack -c Release

      - name: "dotnet test"
        run: dotnet test --configuration Release --verbosity normal --logger trx

      - name: Upload Test Result Files
        if: runner.os == 'Linux'
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: ${{ github.workspace }}/**/TestResults/**/*
          retention-days: 5

      - name: Publish Test Results
        if: always() && runner.os == 'Linux'
        uses: EnricoMi/publish-unit-test-result-action@v2.20.0
        with:
          trx_files: "${{ github.workspace }}/**/*.trx"