name: Build and Sign

on:
  push:
    tags:
      - '*'

jobs:
  build-and-sign:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json

      - name: "Update release notes"
        shell: pwsh
        run: |
          ./build.ps1

      - name: Build Package
        run: dotnet pack /p:PackageVersion=${{ github.ref_name }} -c Release -o ./output

      - name: Install SignClient
        run: dotnet tool install -g SignClient --version 1.2.109

      - name: Sign Artifacts
        run: |
          echo "Starting the signing process..."
          powershell ./scripts/signPackages.ps1 -ConfigPath "./scripts/signsettings.json" `
            -UserName "${{ secrets.SIGNING_USERNAME }}" `
            -Password "${{ secrets.SIGNING_PASSWORD }}" `
            -ProductName "Akka.Cluster.Chunking" `
            -ProductDescription "Akka.Cluster.Chunking tools and drivers by Petabridge." `
            -ProductUrl "https://github.com/petabridge/Akka.Cluster.Chunking" `
            -DirectoryPath "./output"


      - name: Push Packages
        run: dotnet nuget push "output/*.nupkg" -k ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.json

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          release_name: 'Akka.Cluster.Chunking v${{ github.ref_name }}'
          body_path: RELEASE_NOTES.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Release Asset
        uses: AButler/upload-release-assets@v3.0
        with:
            repo-token: ${{ github.token }}
            release-tag: ${{ github.ref_name }}
            files: 'bin/nuget/*.nupkg'
