name: Build and Sign

on:
  push:
    tags:
      - '*'
  pull_request:
    branches:
      - main

jobs:
  build-and-sign:
    runs-on: windows-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SIGNING_USERNAME: ${{ secrets.SIGNING_USERNAME }}
      SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
      NUGET_KEY: ${{ secrets.NUGET_KEY }}
      SDKBIN_KEY: ${{ secrets.SDKBIN_KEY }}
      SDKBIN_URI: ${{ secrets.SDKBIN_URI }}
      GITHUB_CONNECTION_NAME: TurboMqttReleases
      PROJECT_NAME: TurboMqtt
      GITHUB_REPOSITORY_NAME: https://github.com/petabridge/TurboMqtt
      BUILD_CONFIGURATION: Release
      PRODUCT_URL: https://turbomqtt.org

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: global.json

      - name: Update Release Notes
        run: powershell ./build.ps1

      - name: Build Package
        run: dotnet pack --configuration ${{ env.BUILD_CONFIGURATION }} -o ./bin/nuget

      - name: Install SignClient
        run: dotnet tool install -g SignClient --version 1.2.109

      - name: Sign Artifacts
        run: |
          echo "Starting the signing process..."
          powershell ./scripts/signPackages.ps1 -ConfigPath "./scripts/signsettings.json" `
            -UserName "${{ env.SIGNING_USERNAME }}" `
            -Password "${{ env.SIGNING_PASSWORD }}" `
            -ProductName "Akka.Cluster.Chunking" `
            -ProductDescription "Akka.Cluster.Chunking tools and drivers by Petabridge." `
            -ProductUrl "https://github.com/petabridge/Akka.Cluster.Chunking" `
            -DirectoryPath "./bin/nuget"


      - name: Push to NuGet.org
        run: |
          $ErrorActionPreference = "Stop"
          Get-ChildItem "bin\\nuget\\*.nupkg" -Recurse | ForEach-Object {
            dotnet nuget push $_.FullName --api-key ${{ env.NUGET_KEY }} --source https://api.nuget.org/v3/index.json
          }
        shell: pwsh

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          release_name: 'Akka.Cluster.Chunking v${{ github.ref_name }}'
          body_path: RELEASE_NOTES.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Release Asset
        uses: AButler/upload-release-assets@v3.0
        with:
            repo-token: ${{ github.token }}
            release-tag: ${{ github.ref_name }}
            files: 'bin/nuget/*.nupkg'